:root {
  --bg:           #2C3232;
  --text:         #B5B2AD;
  --main-dark:    #515755;
  --main-light:   #758181;
  --accent-dark:  #BA742E;
  --accent-light: #E2B084;
}





.profile {
  display: flex;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
}

.text {
  padding:0 15px;
  border: 2px solid var(--main-dark);
  color: var(--text);
  font-size: 24px;
  width 50%;
}

.portrait {
  border: 5px solid var(--text);
  border-radius: 4px;
}

main {
  margin:0 15px;

}

body{
  background: var(--bg);
  margin: 0%;
  font-size: 100%;
}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--main-dark);

}

li {
  display: inline-block;
  min-width: 5%;
  margin: 0 1%;
}

li a {
  text-decoration: none;
  display: block;
  font-family:Arial;
  position: relative;
  color: var(--text);
  padding: 5% 0;
}

li a:hover{
  background: var(--main-light);
  padding: 5% 0;
}

h1 {
  text-align: center;
  color: var(--main-light);
}

