:root {
  --bg:           #2C3232;
  --text:         #B5B2AD;
  --main-dark:    #515755;
  --main-light:   #758181;
  --accent-dark:  #BA742E;
  --accent-light: #E2B084;
}


.test{
  background: var(--main-dark);
  border: 1px solid #000;
  height: 50%;
}
.test2{
  background: var(--main-light);
  border: 1px solid #000;
  height: 50%;
}



body{
  background: var(--bg);
  padding: 0;
  margin: 0;
}



h1 {
  text-align: center;
  color: var(--main-light);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--main-dark);

}

li {
  display: inline-block;
  min-width: 5%;
  margin: 0 1%;
}

li a {
  text-decoration: none;
  display: block;
  font-family:Arial;
  position: relative;
  color: var(--text);
  padding: 5% 0;
}

li a:hover{
  background: var(--main-light);
}
