:root {
  --bg:         #1D1D20;
  --text:       #B5B2AD;
  --main-dark:  #515755;
  --main-light: #758181;
  --acc-dark:   #BA742E;
  --acc-light:  #E2B084;
  --alt-acc:    #72A8DC;
}

* {
  background: var(--bg);
  /*
   background: linear-gradient(to bottom right, var(--acc-light), var(--acc-dark), var(--bg), var(--acc-light), var(--acc-dark ));
  */
}


.containter {
  position: relative;
}

.main {
  width: 65%;
  height: 65%;
  padding: 1%;

/* Used to create the fancy border aroudn the text */
  border-image: linear-gradient(320deg, var(--text) 10%, var(--main-dark) 20%, var(--bg) 25%, var(--bg) 75%, var(--main-dark)80%, var(--text)90%) 100;
  border-width: 15px;
  border-style: solid;
/*-------------------------------------------------*/

/* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*------------------------------------*/

  color: var(--text);
  font-size: 30px;
}

.main h1 {
  margin: 0;
  font-size: 96px;
  color: var(--acc-dark);
}

.main p {
  width: 50%;
  float: left;
}

.main nav {
  text-align: center;
  color: var(--alt-acc);

}



.main nav a:link { 
  text-decoration: none; 
  color: var(--alt-acc);
}

.main nav a:visited { 
  text-decoration: none; 
  color: var(--alt-acc);
}

