:root {
  --bg:           #1D1D20;
  --text:         #B5B2AD;
  --main-dark:    #515755;
  --main-light:   #758181;
  --accent-dark:  #BA742E;
  --accent-light: #E2B084;
}

* {
  background: var(--bg);
}


.containter {
  background: var(--bg);
  border: 5px solid var(--text);
  position: relative;
}

.main {
  width: 65%;
  height: 65%;
  border: 5px solid var(--text);

/* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*------------------------------------*/
  color: var(--text);
  font-size: 30px;
}

.main h1 {

}
