* {
  font-family: "Share Tech";
  color: var(--text);
  padding: 0;
  margin: 0;
}

:root {
  --bg:   #1D1D20;
  --text: #E2E1DF;
}




/*Courtesy of Mahozad on stack overflow for changing gradient borders in css

  The way that it works is by transitioning  color variables instead of the actual gradient, and it makes it all a whole lot smoother and I can still do the animations, as I am interpolating between colors and not the whole gradient
 *
 * */
@property --border-color1 {
  syntax: '<color>';
  initial-value: #0000FF;
  inherits: true;
}

@property --border-color2 {
  syntax: '<color>';
  initial-value: #4918e7;
  inherits: true;
}

@property --border-color3 {
  syntax: '<color>';
  initial-value: #9932CC;
  inherits: true;
}

/*================================= BODY =================================*/
body {
  height: 100vh;
/*background: linear-gradient(120deg, #f4d603, #1a9fb1);*/
  background: var(--bg);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 15% auto auto auto 15%;
  grid-template-rows: 15% auto auto 15% max-content;
  grid-template-areas: 
    ". .       .       .       ."
    ". content content content ."
    ". content content content ."
    ". .       .       .       ."
    ". footer  footer  footer  .";
}


#main-page {
  --border-color1: #480048;
  --border-color2: #8A2F4D;
  --border-color3: #EA2046;
}

#aboutme-page {
  --border-color1: #FFD3A5;
  --border-color2: #FEA999;
  --border-color3: #FD6585;
}

#resume-page {
  --border-color1: #7F7FD5;
  --border-color2: #88B3DC;
  --border-color3: #91EAE4;
}

#project-page {
  --border-color1: #0000FF;
  --border-color2: #4918e7;
  --border-color3: #9932CC;
}

#uc-page {
  --border-color1: #FF0000;
  --border-color2: #000000;
  --border-color3: #FFFFFF;
}

#contact-page {
  --border-color1: #283048;
  --border-color2: #576271;
  --border-color3: #859398;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 5% auto auto max-content 2%;
  grid-template-rows: 10% auto auto 10%;
  grid-template-areas: 
    ". .      .      .      ."
    ". main   main   nav    ."
    ". main   main   nav    ."
    ". .      .      .      .";

  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  background: linear-gradient(var(--bg), var(--bg)) padding-box, 
              linear-gradient(45deg, var(--border-color1), var(--border-color2), var(--border-color3)) border-box;
  border-radius: 30px;
  border: 4px solid transparent;

  transition-property: --border-color1, --border-color2, --border-color3;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
/*================================= NAV =================================*/
nav {
  grid-area: nav;
  text-decoration: none;
  font-size: 26px;
}

nav ul {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  list-style-type: none;
  padding: 5px;
}

nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  transition-property: box-shadow, color;
  transition-duration: 0.5s;
  text-decoration: none;
  color: #999999;
}

nav a:hover{
  box-shadow: inset 0 -3px #FFFFFF;
  color: var(--text);
}

/*================================= MAIN =================================*/
main {
  grid-area: main;
  padding: 8px;
  max-width: 95%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto max-content;
  grid-template-areas: 
    "intro"
    "social";
}



.project-grid {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 26px;

  background: linear-gradient(45deg, var(--border-color1), 
  var(--border-color2), var(--border-color3)) border-box;
}

.project-grid ul {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  list-style-type: none;
}

.project-grid li {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0px;
  border: 4px solid transparent;
  outline: 10px solid var(--bg);

}

.project-grid a {
  width: 100%;
  height: 100%;

  background: linear-gradient(var(--bg), var(--bg)) padding-box;
  border-radius: 30px;
  border: 4px solid transparent;
  outline: 15px solid var(--bg);

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #999999;
}



/*================================= FOOTER =================================*/
footer {
  grid-area: footer;
  text-align: center;
}

/*================================= TEXT =================================*/
#aboutme-paragraph {
  font-size: 1.5vw;
}

#aboutme-paragraph h1 {
  margin-bottom: 5%;
}

#intro {
  grid-area: intro;
  font-size: 250%; 
}

/*================================= SOCIALS =================================*/
#socials {
  grid-area: social;
}

#socials ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#socials li a {
  display: block;
  text-align: center;
}











/*================================= MEDIA QUERIES =================================*/
@media only screen and (max-width: 64em){

  .container {
    height: 100%;
    display: grid;

    grid-template-columns: 5% auto auto auto 5%;
    grid-template-rows: 5% auto auto 5% max-content;
    grid-template-areas: 
      ". .       .       .       ."
      ". content content content ."
      ". content content content ."
      ". .       .       .       ."
      ". footer  footer  footer  .";
  }

  .content {
    display: grid;
    grid-template-columns: 5% auto auto auto 5%;
    grid-template-rows: 2% max-content 2% auto;
    grid-template-areas: 
      ". .      .     .     ."
      ". nav    nav   nav   ."
      ". .      .     .     ."
      ". main   main  main  ."
  }


  nav {
    grid-area: nav;
    font-size: 20px;
  }

  nav ul {
    height: initial;
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  nav li {
    display: inline-block;
    padding: 5px;
  }















  #aboutme-paragraph {
    font-size: 4.3vw;
  }
}







