:root {
  --bg:         #1D1D20;
  --text:       #E2E1DF;
  --main-dark:  #AAABAB;
  --main-light: #C1C1C1;
  --acc-dark:   #E78A52;
  --acc-light:  #FBCB96;
  --alt:        #5F8787;
}

* {
  background: var(--bg);
  font-family: "Share Tech";
  color: var(--text);
}
