* {
  font-family: "Share Tech";
  color: var(--text);
  padding: 0;
  margin: 0;
}

:root {
  --bg:         #1D1D20;
  --text:       #E2E1DF;
  --alt:        #5F8787;

  --border-color1: #0000FF;
  --border-color2: #4918e7;
  --border-color3: #9932CC;
}
/*Courtesy of Mahozad on stack overflow for changing gradient borders in css*/
@property --border-color1 {
  syntax: '<color>';
  initial-value: blue;
  inherits: false;
}

@property --border-color2 {
  syntax: '<color>';
  initial-value: darkorchid;
  inherits: false;
}

/*=================================BODY=================================*/
body {
  height: 100vh;
/*background: linear-gradient(120deg, #f4d603, #1a9fb1);*/
  background: var(--bg);
  transition-property: background;
  transition-duration: 1s;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% auto auto auto 20%;
  grid-template-rows: 10% 10% auto auto 15% max-content;
  grid-template-areas: 
    ". .       .       .       ."
    ". .       .       .       ."
    ". content content content ."
    ". content content content ."
    ". .       .       .       ."
    ". footer  footer  footer  .";
}



.content-main {
  grid-area: content;
  display: grid;
  grid-template-columns: 5% auto auto max-content 5%;
  grid-template-rows: 10% auto auto 10%;
  grid-template-areas: 
    ". .      .      .      ."
    ". main   main   nav    ."
    ". main   main   nav    ."
    ". .      .      .      .";

  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  background: linear-gradient(var(--bg), var(--bg)) padding-box, 
              linear-gradient(45deg, var(--border-color1), var(--border-color2), var(--border-color3)) border-box;
  border-radius: 30px;
  border: 4px solid transparent;
  transition: --border-color1 1s, --border-color2 1s, --border-color3 1s;
}

.content-aboutme {
  grid-area: content;
  display: grid;
  grid-template-columns: 5% auto auto max-content 5%;
  grid-template-rows: 10% auto auto 10%;
  grid-template-areas: 
    ". .      .      .      ."
    ". main   main   nav    ."
    ". main   main   nav    ."
    ". .      .      .      .";


  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  background: linear-gradient(var(--bg), var(--bg)) padding-box, 
              linear-gradient(45deg, #3E5151, #5B6760, #DECBA4) border-box;
  border-radius: 30px;
  border: 4px solid transparent;
  transition: --border-color1 1s, --border-color2 1s, --border-color3 1s;
}

.content-uc {
  grid-area: content;
  display: grid;
  grid-template-columns: 5% auto auto max-content 5%;
  grid-template-rows: 10% auto auto 10%;
  grid-template-areas: 
    ". .      .      .      ."
    ". main   main   nav    ."
    ". main   main   nav    ."
    ". .      .      .      .";


  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  background: linear-gradient(var(--bg), var(--bg)) padding-box, 
              linear-gradient(45deg, #FF0000, #000000, #FFFFFF) border-box;
  border-radius: 30px;
  border: 4px solid transparent;
  transition: --border-color1 1s, --border-color2 1s, --border-color3 1s;
}



.content-main:has(#UC:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #FF0000;
  --border-color2: #000000;
  --border-color3: #FFFFFF;
}

.content-main:has(#aboutme:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #3E5151;
  --border-color2: #5B6760;
  --border-color3: #DECBA4;
}




/*=================================NAV=================================*/
nav {
  grid-area: nav;
  text-decoration: none;
  font-size: 26px;
}

nav ul {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  list-style-type: none;
  padding: 5px;
}

nav li {
  display:flex;
  align-items: center;
  justify-content: center;
}

nav a {
  transition-property: box-shadow color;
  transition-duration: .3s;
  text-decoration: none;
  color: #999999;
}

nav a:active{
  box-shadow: inset 0 -3px #FFFFFF;
  color: var(--text);
}
nav a:hover{
  box-shadow: inset 0 -3px #FFFFFF;
  color: var(--text);
}

/*=================================MAIN=================================*/
main {
  grid-area: main;
  border-radius: 10px;
  padding: 8px;
  max-width: 80%;
}

footer {
  grid-area: footer;
  text-align: center;
}



/*=================================TEXT=================================*/
#intro {
 font-size: 200%; 
}


#about-me {
  font-size: 150%;
}
