/*================================= NAV =================================*/
.content:has(#homepage:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #480048;
  --border-color2: #8A2F4D;
  --border-color3: #EA2046;
}

.content:has(#aboutme:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #FFD3A5;
  --border-color2: #FEA999;
  --border-color3: #FD6585;
}

.content:has(#myresume:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #7F7FD5;
  --border-color2: #88B3DC;
  --border-color3: #91EAE4;
}

.content:has(#UC:hover){
  /*These lines of code are from*
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #FF0000;
  --border-color2: #000000;
  --border-color3: #FFFFFF;
}

.content:has(#projects:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #0000FF;
  --border-color2: #4918e7;
  --border-color3: #9932CC;
}

.content:has(#contacts:hover){
  /*These lines of code are from*/
  /* https://codyhouse.co/nuggets/css-gradient-borders */
  --border-color1: #283048;
  --border-color2: #576271;
  --border-color3: #859398;
}





/*================================= SOCIALS =================================*/
.content:has(#instagram:hover){
  --border-color1: #f9ce34;
  --border-color2: #ee2a7b;
  --border-color3: #6228d7;
}

.content:has(#linkedin:hover){
  --border-color1: #0077B5;
  --border-color2: #0077B5;
  --border-color3: #0077B5;
}

.content:has(#git:hover){
  --border-color1: #F1502F;
  --border-color2: #F1502F;
  --border-color3: #F1502F;
}

