* {
padding: 0;
margin: 0;
color: #FFFFFF;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: max-content auto auto max-content;
  grid-template-areas: 
    "nav nav nav nav nav"
    ". main main main ."
    ". main main main sidebar"
    "footer footer footer footer footer";
}



body {
  height: 100vh;

  background: linear-gradient(120deg, #f4d603, #1a9fb1);
}

nav {
  grid-area: nav;
  list-style: none; 
  text-align:center;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 4px solid #FFFFFF;
}

nav li{
  display:inline;
}

nav a{
  display: inline-block;
  padding: 15px;
  color: #FFFFFF;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .wizzard {
  padding: auto;
  width: 80%;
  height: auto;
  align-items: center
}

footer {
  grid-area: footer;
  text-align: center;
  color: #FFFFFF;
  padding-top: 2px;
  border-top: 4px solid #FFFFFF;
}


