* {
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: max-content auto auto max-content;
  grid-template-areas: 
    "nav nav nav nav nav"
    ". main main main ."
    ". main main main sidebar"
    "footer footer footer footer footer";
}



body {
  height: 100vh;

/*background: linear-gradient(120deg, #f4d603, #1a9fb1);*/
  background: #000000;
}

nav {
  grid-area: nav;
  list-style: none; 
  text-align:center;
  list-style-type: none;
  overflow: hidden;
  border-bottom: 4px solid #FFFFFF;
  font-size: 26px;
}

nav li{
  display:inline;
}

nav a{
  display: inline-block;
  padding: 15px;
  color: #FFFFFF;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: .5s;
}

nav a:hover {
  background-color: #eeeeee;
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

main .wizzard {
  width: 60%;
  height: auto;
  background: #fff;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
main p {
  padding: 10px;
  text-align: center;
}

footer {
  grid-area: footer;
  text-align: center;
  color: #FFFFFF;
  padding-top: 2px;
  border-top: 4px solid #FFFFFF;
}


